.root {
  flex: 1;
  overflow-y: scroll;
}

.table {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
}

.row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  min-height: 40px;
}

.col {
  padding: 10px 0;
}

.name {
  width: 40px;
  height: 40px;
  background-color: var(--item-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
