.root {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.points {
  flex: 1;
  border-right: 1px solid #fff;
}

.playerItems {
  width: 30%;
  min-width: 350px;
}

.label {
  margin: 0 0 15px;
}

.container {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}
